@font-face {
    font-family: 'GT America Trial Rg';
    src: url('GTAmericaTrial-Rg.woff2') format('woff2'),
        url('GTAmericaTrial-Rg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

